app/views/home/index.html.haml
= stylesheet_link_tag "tests"
= javascript_include_tag "tests"

.span10
	#index
		.span8
			.home_content1.row
				%h3.txt-red Bienvenue sur la plateforme de livraison des textes Maika-Rédaction
				%p Chacun de nos rédacteurs livre ses textes via cette interface.Via cet outil, vous pourrez livrer, modifier, et suivre tous les textes que vous nous avez envoyé. Vous pouvez également éditer votre profil et modifier votre mot de passe.

			.home_content1.row
				%h3.txt-red Informations pratiques
				%p Voici un rappel des différents statuts de textes sur notre plateforme :
				%ul.right_col
					%li Nouveau : statut par défaut quand vous venez de livrer le texte. Vous pouvez encore le modifier.
					%li Correction : lorsque que quelqu’un est en train de travailler sur le texte.
					%li Validé : lorsque le texte a été corrigé et accepté par Maika-Rédaction. Cela veut dire que votre texte a été validé. Vous pourrez le comptabiliser dans votre prochaine facture.
					%li Refusé : lorsque le texte est refusé par le relecteur, quelle qu’en soit la raison. La plupart du temps, nos correcteurs refusent des textes quand ils comportent trop d'erreurs ou qu'ils sont hors sujet.
					%li À livrer : lorsque le texte doit être fourni au client (version finale).
				

		#right_column.span4.row
			%h3.txt-red Liens rapide,informations flash, images et autres
			%p Non ergo erunt homines deliciis diffluentes audiendi, si quando de amicitia, quam nec usu nec ratione habent cognitam, disputabunt. Nam quis est, pro deorum fidem atque hominum! qui velit, ut neque diligat quemquam nec ipse ab ullo diligatur, circumfluere omnibus copiis atque in omnium rerum abundantia vivere? Haec enim est tyrannorum vita nimirum, in qua nulla fides, nulla caritas, nulla stabilis benevolentiae potest esse fiducia, omnia semper suspecta atque sollicita, nullus locus amicitiae.
			%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec hendrerit tellus. Morbi semper cursus eros, rutrum scelerisque sem euismod in. Fusce nibh purus, rhoncus sit amet venenatis eget, pretium ac ante. In tristique elit in mauris egestas vestibulum. Duis scelerisque sodales risus a egestas. Mauris accumsan neque sit amet est aliquet, in sollicitudin orci adipiscing. Sed in mattis nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec eu sem et mauris viverra blandit. Duis fermentum posuere aliquam. Integer ullamcorper tincidunt neque in suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam a lorem molestie, porta arcu feugiat, fringilla lectus.

app/views/home/index.html.erb
<div class="form-wrapper span8">
    <div id="tab-container" class="tab-container">
      <ul class='etabs'>
        <li class='tab'><a href="#tabs1-commandes">Commandes</a></li>
        <li class='tab'><a href="#tabs1-agenda">Agenda</a></li>
        <li class='tab'><a href="#tabs1-cgv">CGV</a></li>
        <li class='tab'><a href="#tabs1-actu">Actualités</a></li>
      </ul>
        <div id="tabs1-commandes">
       

     <div class="table_adjust">
				<table class="table table-striped table-bordered">
				  <thead>
				    <tr>
				      <th class="a_table">Commandes</th>
				      <th class="a_table">Statut</th>      
				      <th class="a_table">Date de livraison</th>
				      <th class="a_table">Actions</th>
				    </tr>
				  </thead>

				  <tbody>
				      <tr>
				        <td></td>
				        <td></td>        
				        <td></td>
				        <td></td>
				      </tr>
				  </tbody>
				</table>
		</div>
		<div class="table_adjust">
				<table class="table table-striped table-bordered">
				  <thead>
				    <tr>
				      <th class="a_table">Identification</th>
				      <th class="a_table">Date limite de livraison</th>      
				      <th class="a_table">Type de mission</th>
				      <th class="a_table">Nom de l’article</th>
				      <th class="a_table">Nombre de mots</th>
				      <th class="a_table">Cahier des charges</th>
				    </tr>
				  </thead>

				  <tbody>
				      <tr>
				        <td></td>
				        <td></td>        
				        <td></td>
				        <td></td>
				        <td></td>
				        <td></td>
				      </tr>
				  </tbody>
				</table>
		</div>
		<div class="table_adjust">
				<table class="table table-striped table-bordered">
				  <thead>
				    <tr>
				      <th class="a_table">Identification</th>
				      <th class="a_table">Date limite de livraison</th>      
				      <th class="a_table">Type de mission</th>
				      <th class="a_table">Nom de l’article</th>
				      <th class="a_table">Nombre de mots</th>
				      <th class="a_table">Cahier des charges</th>
				       <th class="a_table">Commandes</th>
				      <th class="a_table">Statut</th>      
				      <th class="a_table">Date de livraison</th>
				      <th class="a_table">Actions</th>
				    </tr>
				  </thead>

				  <tbody>
				      <tr>
				        <td></td>
				        <td></td>        
				        <td></td>
				        <td></td>
				        <td></td>
				        <td></td>
				        <td></td>
				        <td></td>
				        <td></td>
				      </tr>
				  </tbody>
				</table>
		</div>
        </div>
        <div id="tabs1-agenda">        
        </div>
        <div id="tabs1-cgv">
        ICI  CGV !!!
        </div> 
        <div id="tabs1-actu">
        ICI BLAGUES CP !!!
        </div> 
    </div>
</div>




<!--div class="span8">
				<div class="home_content1 row">
				<h3 class="txt-red">Bienvenue sur la plateforme de livraison des textes Maika-Rédaction</h3>
				<p>Chacun de nos rédacteurs livre ses textes via cette interface.Via cet outil, vous pourrez livrer, modifier, et suivre tous les textes que vous nous avez envoyé.
		Vous pouvez également éditer votre profil et modifier votre mot de passe.

				</p>
				</div>


				<div class="home_content1 row">
				<h3 class="txt-red">Informations pratiques</h3>
				<p>Voici un rappel des différents statuts de textes sur notre plateforme :</p>
		<ul class="right_col">
			<li>Nouveau : statut par défaut quand vous venez de livrer le texte. Vous pouvez encore le modifier.</li>
			<li>Correction : lorsque que quelqu’un est en train de travailler sur le texte.</li>
			<li> Validé : lorsque le texte a été corrigé et accepté par Maika-Rédaction. Cela veut dire que votre texte a été validé. Vous pourrez le comptabiliser dans votre prochaine facture.</li>
			<li>Refusé : lorsque le texte est refusé par le relecteur, quelle qu’en soit la raison. La plupart du temps, nos correcteurs refusent des textes quand ils comportent trop d'erreurs ou qu'ils sont hors sujet.</li>
			<li>À livrer : lorsque le texte doit être fourni au client (version finale).</li>
		</ul>
				</div>
		</div>


		<div id="right_column" class="span4 row">
		<h3 class="txt-red">Liens rapide,informations flash, images et autres</h3>
		<p>Non ergo erunt homines deliciis diffluentes audiendi, si quando de amicitia, quam nec usu nec ratione habent cognitam, disputabunt. Nam quis est, pro deorum fidem atque hominum! qui velit, ut neque diligat quemquam nec ipse ab ullo diligatur, circumfluere omnibus copiis atque in omnium rerum abundantia vivere? Haec enim est tyrannorum vita nimirum, in qua nulla fides, nulla caritas, nulla stabilis benevolentiae potest esse fiducia, omnia semper suspecta atque sollicita, nullus locus amicitiae.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec hendrerit tellus. Morbi semper cursus eros, rutrum scelerisque sem euismod in. Fusce nibh purus, rhoncus sit amet venenatis eget, pretium ac ante. In tristique elit in mauris egestas vestibulum. Duis scelerisque sodales risus a egestas. Mauris accumsan neque sit amet est aliquet, in sollicitudin orci adipiscing. Sed in mattis nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec eu sem et mauris viverra blandit. Duis fermentum posuere aliquam. Integer ullamcorper tincidunt neque in suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam a lorem molestie, porta arcu feugiat, fringilla lectus.

		</p>
		</div-->
